keysar_replication.sublime*
*~
cogsci_keysar.pdf
pnas-submission.pdf
node_modules
auth.json
mturk-and-gmail.txt
auth.txt
*.synctex.gz
.DS_Store
*.bst
*.cls
*.xwm
*.bbl
*.aux
*.blg
*.xlsx
*.log
*.out
*.key
*.RData
*.Rhistory
.Rproj.user
