html , body {
     background: #212121; 
     color: #fff; 
     font-family: Helvetica;
     margin: 0; 
     padding: 0;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#main {
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:5%; bottom: 0;
	position: absolute;
}

#viewport {
	border:solid 1px #333;
	height : 70%;
	width: 65%;
	background: #383838; 
}

#messages {
	height: 19%; 
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	font-size: 200%;
	border: solid 1px #999; 
	overflow-y: scroll;'
}

#chatarea form {
	background: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	height: 10%;
	width: 100%; 
}

#chatarea input {
	border: 0; 
	height: 75%;
	font-size: 200%;
	width: 80%; 
	margin-right: .5%; 
	padding: 5px;
}

#chatarea button {
	width: 9%; 
	height: 75%;
	font-size: 200%;
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 5px;
}

